# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int - Integer types are whole numbers

In [5]:
num = 7
print(num)

7

##### Assinging float - Float types are decimals

In [6]:
this_float = 7.89
print(this_float)

7.89

#### Performing Calculations on ints and floats

##### Addition (+)

In [9]:
num1 = 4
num2 = 5

result = num1 + num2
print(result)

result += 5
print(result)

result = result + 5
print(result)

9
14
19

##### Subtraction (-)

In [16]:
num3 = 10
num4 = 7

result = num3 - num4
print(result)

result -= 3
print(result)

3
0

##### Multiplication (*)

In [18]:
num5 = 10
num6 = 15

result = num5 * num6
print(result)

result *= 10
print(result)

150
1500

##### Division (/)

In [20]:
#returns a float

num7 = 20
num8 = 5

result = num7 / num8
print(result)

result /= 2
print(result)

4.0
2.0

##### Floor Division (//) - Normal division but returns the largest possible integer

In [21]:
#returns an integer

num9 = 18
num10 = 7

result = num9 // num10
print(result)

2

##### Modulo (%) - Returns the remainder of division

In [28]:
#very useful when trying to determine if even or odd

num = 21
num1 = 6

result = num % 6
print(result)

if num % 2 == 0:
    print("Even")


result %= 2
print(result)

3
1

##### Exponential (**)

In [26]:
square = 5 ** 2
print(square)

cubed = 5 ** 3
print(cubed)

25
125

### String Input-Output

##### String Assignment

In [29]:
name = "Kevin"

print(name)

Kevin

##### print() <br>
<p>Don't forget about end=' '</p>

In [33]:
print("My name is: ", name)

print("My name is: ", name, end=" Baker")

My name is:  Kevin
My name is:  Kevin Baker

##### String Concatenation

In [34]:
first = "Kevin"
last = "Baker"

fullname = first + " " + last
print(fullname)

Kevin Baker

##### Type Conversion

In [37]:
number = "57"

result = 2 - int(number)

print(result)

-55

##### input()

In [40]:
age = input("How old are you?")

print("You are ", age, " years old")

You are  24  years old

##### format()

In [42]:
age = input("How old are you")
name = "Kevin"

result = "Hi {}, you are {} years old".format(name, age)
print(result)

common = f"Hello {name}, you are {age} years now"
print(common)

Hi Kevin, you are 24 years old
Hello Kevin, you are 24 years now

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [46]:
color = input("What color is your car?")
year = input("What year is your car?")
make = input("What make is your car?")
model = input("What input is your car?")

car = f"You drive a {color} {year} {make} {model}."
print(car)

question = input("What is the color, year, make and model of your car?")
car1 = "Your car is a {}".format(question)
print(car1)

You drive a black 2022 kia fortw.
Your car is a black 2019 mini cooper

### If Statements

In [51]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T and F = F
# T and T = T
# T or F = T
# F or T = T
# F or F = F

num1 = 20
num2 = 20

if num1 > num2:
    print(f"{num1} is greater than {num2}")
elif num1 == num2:
    print(f"{num1} is equal than {num2}")
else:
    print(f"{num1} is less than {num2}")

20 is equal than 20

##### 'is' keyword - Checks if the value refers to the same object in memory, not if they equal each other

In [53]:
num = 50
x = num

if num is x:
    print("yes")
else:
    print("no")

yes

##### 'in' keyword = used to check if a value is present in a sequence

In [57]:
name = "Kevin Baker"
if "K" in name:
    print("Yes")
else:
    print("No")

Yes

##### 'not in' keyword'

In [60]:
if "L" not in name:
    print("not in")
else:
    print("in")

not in

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [6]:
letter = input("What is your favorite letter?")

if "p" in letter:
    print("p is in")
else:
    print("p is not in")

p is not in

## Using 'and'/'or' with If Statements

In [10]:
name = "Paul Abro"

if "p" in name or "P" in name:
    print("P")
else:
    print("no p")

christian = "not cool"

if christian == "cool" and "P" in name:
    print("We lit")
else:
    print("Goofy")

P
Goofy

### Elif Statements

In [ ]:
# see above

### Else Statements

In [ ]:
# see above

### For Loops

In [12]:
name = "Dylan"

for letter in name:
    print(letter)

D
y
l
a
n

##### Continue Statement

In [18]:
# will continue to next iteration

for letter in name:
    if letter =="a":
        continue
    print(letter)

D
y
l
n

##### Break Statement

In [20]:
# will break out of current loop

for letter in name:
    if letter == "l":
        break
    print(letter)

print("done")

D
y
done

##### Pass Statement

In [21]:
# mostly used as a placeholder, and will continue on same iteration

for letter in name:
    pass #add functionality later

##### Double For Loops

In [25]:
for num1 in range(5):
    for num2 in range(5):
        print(f"num1: {num1} + num2: {num2} = {num1 + num2}")

num1: 0 + num2: 0 = 0
num1: 0 + num2: 1 = 1
num1: 0 + num2: 2 = 2
num1: 0 + num2: 3 = 3
num1: 0 + num2: 4 = 4
num1: 1 + num2: 0 = 1
num1: 1 + num2: 1 = 2
num1: 1 + num2: 2 = 3
num1: 1 + num2: 3 = 4
num1: 1 + num2: 4 = 5
num1: 2 + num2: 0 = 2
num1: 2 + num2: 1 = 3
num1: 2 + num2: 2 = 4
num1: 2 + num2: 3 = 5
num1: 2 + num2: 4 = 6
num1: 3 + num2: 0 = 3
num1: 3 + num2: 1 = 4
num1: 3 + num2: 2 = 5
num1: 3 + num2: 3 = 6
num1: 3 + num2: 4 = 7
num1: 4 + num2: 0 = 4
num1: 4 + num2: 1 = 5
num1: 4 + num2: 2 = 6
num1: 4 + num2: 3 = 7
num1: 4 + num2: 4 = 8

### While Loops

In [31]:
num = 0

while num < 10:
    print(num)
    num += 1

print("finished")

0
1
2
3
4
5
6
7
8
9
finished

##### Looping 'While True'

In [34]:
num = 0

while True:
    num += 1
    if num >= 10:
        break
    print(num)

1
2
3
4
5
6
7
8
9

##### While & For Loops Used Together

In [41]:
num = 1

while num < 5:
    print("While loop")

    for i in range(2):
        print("For loop")
    
    num += 1

print("Finished")

While loop
For loop
For loop
While loop
For loop
For loop
While loop
For loop
For loop
While loop
For loop
For loop
Finished

### Built-In Functions

##### range()

In [45]:
# range takes in multiple parameters (start, stop), or (start, stop, step)
# or just (stop)

for num in range(3, 20, 2):
    print(num)

3
5
7
9
11
13
15
17
19

##### len()

In [49]:
name = "Dylan"

length = len(name)

print(length)

8

##### help() -  used to display the documentation of modules, functions, classes, keywords, etc.

In [51]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance() - checks if the object is the type

In [56]:
print(isinstance(4.5, float))

num = "2"

if isinstance(num, int):
    print("this is an integer")
else:
    print("not an integer")

True
not an integer

##### abs() - returns the absolute value

In [59]:
print(7 - 20)
print(abs(7 - 20))

-13
13

### Try and Except Blocks
#### try - lets you test a block of code for errors
#### except - lets you handle the error

In [65]:
try:
    number = 1
    new_num = input("What number am I thinking about?: ")
    if new_num != number:
        new_num += number
        print("your number is: ", new_num)
except:
    print("That did not work")

That did not work

### Lists

##### Declaring Lists

In [78]:
my_list = []

names = ["William", "Rhianna", "Sean", "Dylan", "Christian", 12]

print(names)

['William', 'Rhianna', 'Sean', 'Dylan', 'Christian', 12]

##### Indexing a List

In [76]:
print(names[3])
print(names[-1])

Dylan
12

##### .append()

In [80]:
names.append("Sean B")

print(names)

print(names[-1])

['William', 'Rhianna', 'Sean', 'Dylan', 'Christian', 12, 'Sean B', 'Sean B']
Sean B

##### .insert()

In [84]:
names.insert(4, "Kevin")
print(names)

['William', 'Rhianna', 'Kevin', 'Peace', 'Kevin', 'Peace', 'Sean', 'Dylan', 'Christian', 12, 'Sean B', 'Sean B']

##### .pop()

In [86]:
last = names.pop()

print(last)
print(names)

another = names.pop(3)
print(another)
print(names)

Sean B
['William', 'Rhianna', 'Kevin', 'Peace', 'Kevin', 'Peace', 'Sean', 'Dylan', 'Christian', 12]
Peace
['William', 'Rhianna', 'Kevin', 'Kevin', 'Peace', 'Sean', 'Dylan', 'Christian', 12]


##### .remove() - removes element in a list, does not remove duplicates

In [91]:
print(names)

names.remove("Dylan")
print(names)

['William', 'Rhianna', 'Kevin', 'Peace', 'Sean', 'Christian', 12]
['William', 'Rhianna', 'Kevin', 'Peace', 'Sean', 'Christian']

##### del()

In [92]:
del(names[3])
print(names)

['William', 'Rhianna', 'Kevin', 'Sean', 'Christian']

##### Concatenating Two Lists

In [93]:
l_1 = [1,2,3,10,11,12]
l_2 = [4,5,6,13,14,15]

large_list = l_1 + l_2

print(large_list)

[1, 2, 3, 10, 11, 12, 4, 5, 6, 13, 14, 15]

##### Lists Within Lists

In [99]:
child = ["this", "small", "list"]
mother = ["bigger", "list", child]

print(mother[2][2])

list

##### Looping Through Lists

In [102]:
students = ["Tristyn", "Ash", "Gabe", "Nate"]

for student in students:
    print("outer loop")
    for letter in student:
        print(letter)

outer loop
T
r
i
s
t
y
n
outer loop
A
s
h
outer loop
G
a
b
e
outer loop
N
a
t
e

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [114]:

for num in range(11):
    if num ** 3 > 1000:
        break
    print(num ** 3)

0
1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [121]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break
for num in range(1, 100):
    if num == 1:
        continue
    elif num % 2 != 0:
        print(num)

3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [109]:
age = input("What is your age?")

if int(age) < 18:
    print("kids")
elif int(age) >= 18 and int(age) <= 65:
    print("adults")
else:
    print("seniors")

seniors